
body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
*{
    margin: 0;
    padding: 0;
}
/* 背景颜色公共类 */
.bg-color{
    background-color: #222D32;
}
/* 顶部margin-top */
.mt-150 {
    margin-top: 150px;
}
.mt-bottom{
    margin-bottom: 20px;
}
.panel-title{
   height: 18px;
   line-height: 18px;
   font-size: 18px;
}
/* 希望让所有的表格内容都水平垂直居中 */
/* 交集选择器--权重高  */
.table.table-bordered th, 
.table.table-bordered td{
    text-align: center;
    /* 表格内容垂直居中 */
    vertical-align: middle;    
}


/* 侧边栏 */
.RS_aside{
    width: 180px;
    height: 100%;
    background-color: #222d32;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    transition: all 1s;
}
.RS_aside.hidemenu{
    left:-180px;
}

.RS_aside .brand{
    height: 50px;
    width: 180px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 24px;
}
/*  行内元素不能通过继承修改背景色 */
.RS_aside .brand a {
    /* text-decoration: none; */
    color: #fff;
    line-height: 50px;
    height: 50px;
}
/* .RS_aside .pic{
    height: 100px;
    width: 180px;
    
} */
.RS_aside .pic{
    padding-top: 30px;
    height: 180px;
    width: 180px;
}
.RS_aside .pic img{
    height: 80px;
    width: 80px;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
}
.RS_aside .pic p{
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    height: 30px;
}

/* 因为直接点击a 所以直接设置a */
.RS_aside .nav li a{
    display: block;
    height: 40px;
    line-height: 40px;
    color: #fff;
    padding-left: 50px;
    border-left: 3px solid transparent;

}
.RS_aside .nav li a.current{
    background-color: #1D1F21 ;
    border-left: 3px solid #006699;
}
.RS_aside .nav li i{
    margin-right: 6px;
}
.RS_aside .nav li .child a{
    padding-left: 60px;
}


/* 右侧主体部分 */
/* 布局： main加左和上边距 然后fixed定位 */
.RS_main{
    min-height: 1000px;
    /* background-color: pink; */
    padding-left: 180px;
    padding-top: 50px;
    transition: all 1s;
}
.RS_main.hidemenu{
    padding-left: 0px;

}
.RS_main .topbar{
    height: 50px;
    background-color: #3C8DBC;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding-left: 180px;
    transition: all 1s;
}
.RS_main .topbar.hidemenu{
    padding-left: 0px;

}
.RS_main .topbar a{
    height: 50px;
    width: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

/* 面包屑导航 */
.breadcrumb{
    font-size: 12px;
    margin-top: 20px;;
}

/* 模态框 */
.modal-body p{
    font-size: 12px;
    color: #a9442a;
}

/* echart  -- 需要宽高的div*/
.RS_content .echarts_1,
.RS_content .echarts_2{
    width: 48%;
    height: 400px;
}


/* 我的按钮 */
.my-btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.my-btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.myzuber_head {
    border-bottom: 1px solid #eee;
}
